*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.socials{
    background-color: pink;
    height:4vh;
    text-align: center;
}
.cabecera{
    display: flex;
    
}
.cabecera img{
    display:flex;
    flex:1 0 10%;
}
.cabecera h1{
    display:flex;
    flex:1 0 90%;
    text-align: center;
}
h1{
    text-align: center;
    align-items: center;
}
.logo{
    height:8vw;
}

