*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(39%2c 44%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0 32.94C2.18 14.94 0.77 3.81 16.97 0C70.77 -12.66 78.49 0 140 0C210 0 210 0 280 0C331.58 0 332.87 -5.99 383.16 0C402.87 2.35 400.39 12.29 420 16.67C488.81 32.05 489.97 28.29 560 39.53C629.97 50.76 642.14 31.48 700 61.6C738.63 81.71 752.97 101.51 752.97 140C752.97 175.71 736.42 189.85 700 210C639.94 243.22 626.37 221.16 560 246.75C535.59 256.16 524.08 256.14 518.44 280C503.59 342.76 503.55 358.55 519.02 420C524.33 441.09 539.57 432.43 560 445.07C630.06 488.43 635.95 483.47 700 532C711.79 540.93 711.67 549.89 711.67 560C711.67 563.89 705.84 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C358.93 560 351.24 572.81 297.87 560C281.24 556.01 289.62 526.4 280 526.4C269.91 526.4 276.1 555.77 258.46 560C206.1 572.57 199.23 560 140 560C85 560 79.56 572.05 30 560C9.56 555.03 4.5 546.94 0 525.95C-10.5 476.94 0 472.98 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 86.47 -6.3 84.94 0 32.94' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 103.48C942.07 53.24 907.88 32.92 907.88 0C907.88 -18.82 943.94 0 980 0C1050 0 1050 0 1120 0C1190 0 1190 0 1260 0C1330 0 1330 0 1400 0C1460 0 1465.04 -10.23 1520 0C1535.04 2.8 1537.76 10.39 1540 26.05C1547.76 80.39 1540 83.03 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 465.94 1550.03 469.03 1540 511.88C1533.64 539.03 1531.86 551.53 1507.23 560C1461.86 575.59 1453.61 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C951.62 560 932.21 580.18 923.24 560C901.1 510.18 940.45 481.97 917.78 420C898.83 368.22 878.04 376.96 840 332.5C818.15 306.96 798 303.16 798 280C798 262.42 818.94 265.43 840 251.03C909.94 203.21 908.77 201.12 980 155.56C995.57 145.6 1013.6 151.13 1013.6 140C1013.6 125.09 994.93 123.24 980 103.48' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 112C1346.98 112 1288 109.44 1288 140C1288 183.44 1358.09 260 1400 260C1431.96 260 1435.74 194.31 1435.74 140C1435.74 120.31 1420.85 112 1400 112' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 213.04C235.3 213.04 177.33 245.14 177.33 280C177.33 316.18 236.08 355.12 280 355.12C310.4 355.12 325.97 316.96 325.97 280C325.97 245.92 309.62 213.04 280 213.04' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 311.11C1386.66 311.11 1367.33 373.61 1367.33 420C1367.33 434.26 1384.26 432.41 1400 432.41C1410.6 432.41 1420 430.63 1420 420C1420 369.98 1412.99 311.11 1400 311.11' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 135.88C34.08 67.72 21.99 46.6 70 0C91.99 -21.34 105 0 140 0C192.5 0 216.1 -29.57 245 0C284.51 40.43 300.88 84.92 276.82 140C248.38 205.09 209.92 237.61 140 240.33C71.51 242.99 65.74 197.88 0 150.77C-4.26 147.72 0 145.38 0 140C0 137.94 -0.92 137.72 0 135.88' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M290.77 140C300.18 99.46 354.16 114.5 420 100C488.78 84.85 493.79 70 560 80.71C617.41 90 667.23 109.66 667.23 140C667.23 170.8 611.1 167.84 560 203C509.36 237.84 492.97 229.81 463.75 280C429.8 338.31 410 366.59 433.66 420C458.13 475.25 498.89 455.7 560 497.31C601.69 525.7 639.25 542.43 639.25 560C639.25 573.78 599.63 560 560 560C490 560 490 560 420 560C396.17 560 379.44 577.75 372.34 560C351.44 507.75 362.53 489.88 364 420C365.47 349.88 395.06 344.43 378.21 280C358.45 204.43 279.29 189.46 290.77 140' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 53.67C1361.07 53.67 1317.44 14.6 1317.44 0C1317.44 -12.24 1358.72 0 1400 0C1428.75 0 1457.5 -11.33 1457.5 0C1457.5 15.5 1431.1 53.67 1400 53.67' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1510.21 140C1514.92 119.36 1531.43 107.44 1540 107.44C1546.32 107.44 1540 123.72 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 438.6 1549.18 457.19 1540 457.19C1524.9 457.19 1497.41 446.9 1491.43 420C1477.72 358.3 1495.94 349.99 1500.63 280C1505.33 209.99 1495.23 205.64 1510.21 140' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M903.33 280C903.33 247.33 937.15 241.91 980 220.37C1045.48 187.46 1048.65 176.5 1120 171.11C1188.65 165.93 1198.84 168.86 1260 199.23C1308.47 223.3 1339.25 234.98 1339.25 280C1339.25 340.99 1300.88 346.64 1260 411.25C1256.59 416.64 1250.67 415.29 1250.67 420C1250.67 425.5 1253.11 429.05 1260 431.67C1327.78 457.41 1339.65 439.83 1400 476.71C1444.65 503.99 1470 534.66 1470 560C1470 576.3 1435 560 1400 560C1330 560 1330 560 1260 560C1195.84 560 1194.37 564.18 1131.67 560C1124.37 559.51 1124.29 556.75 1120 550.67C1074.9 486.75 1079.34 483.1 1032.89 420C1009.34 388.01 1007.03 389.71 980 360.5C942.25 319.71 903.33 317.39 903.33 280' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 392C8.2 392 28 408.84 28 420C28 428.51 10.18 431.35 0 431.35C-3.82 431.35 0 425.67 0 420C0 406 -5.8 392 0 392' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M113.33 560C113.33 540.42 126.25 504 140 504C153.95 504 168.72 540.77 168.72 560C168.72 568.77 154.36 560 140 560C126.66 560 113.33 568.42 113.33 560' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M80 140C74.34 79.34 96.15 62.73 123.03 0C126.15 -7.27 131.51 0 140 0C152.73 0 161.14 -10.54 165.45 0C189.77 59.46 205.78 79.12 197.27 140C193.06 170.12 168.87 182 140 182C110.23 182 82.83 170.34 80 140' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M495.83 140C495.83 130.68 528.96 121.88 560 121.88C577.43 121.88 592.77 130.73 592.77 140C592.77 149.41 577.54 159.25 560 159.25C529.07 159.25 495.83 149.36 495.83 140' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1182.22 280C1182.22 271.27 1223.28 266.54 1260 266.54C1268.77 266.54 1273.21 272.5 1273.21 280C1273.21 290.17 1270.93 301.88 1260 301.88C1225.44 301.88 1182.22 288.94 1182.22 280' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1110.67 420C1110.67 391.03 1114.21 360 1120 360C1125.87 360 1134 392 1134 420C1134 429 1126.31 434 1120 434C1114.64 434 1110.67 428.03 1110.67 420' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M510 560C510 557.36 536.23 549.55 560 549.55C567.84 549.55 573.21 557.07 573.21 560C573.21 562.3 566.61 560 560 560C535 560 510 562.58 510 560' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1276.8 560C1276.8 550.02 1344.06 521.01 1400 521.01C1422.05 521.01 1432.77 548.14 1432.77 560C1432.77 567.63 1416.39 560 1400 560C1338.4 560 1276.8 569.51 1276.8 560' stroke='rgba(172%2c 191%2c 211%2c 0.73)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width:100%;height:100%;
    background-size:cover;
}

body{
    background-color:rgba(220,220,220,0.8);
    margin:auto;
    margin-top:7vw;
    width:38%;
    height:50vh;
    border:3px solid teal;
    
}

h1{
    padding-top:0.5vw;
    color:teal;
    text-align: center;
}

.dias{
    display:grid;
    margin:1vw;
    background-color: #353535;
    grid-template-columns: repeat(7,5vw);
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
}

.dias div{
    text-align: center;
    color:white;
    margin:0.5vw;
    padding:0.5vw;
    font-size:1.1vw;
}

.container{
    margin:1vw;
    display:grid;
    grid-template-rows:repeat(5,1fr);
    grid-template-columns: repeat(7,5vw);
    
}
.container div{
    color:white;
    margin:0.5vw;
    text-align: center;
    color:black;
    border-radius: 10px;
    box-shadow:7px 7px 5px gray;
    height:2vw;
    padding:0.5vw;
}
.c1{
    grid-column-start:3;
}
.l{
    padding-left:2vw;
    margin:1vw;
}
.finde{
    background-color: #BBFEBA;
    font-weight: bold;
}
.pfinde{
    color:darkgreen;
}
.normal{
    background-color:#F598DE;
    
}
.pnormal{
    color:purple;
}
.festi{
    font-weight: bold;
    background-color:#8EEDF5;
}
.pfesti{
    color:darkblue;
}
.finde:hover{
    background-color: darkgreen;
}
.finde:hover .pfinde{
    color:#BBFEBA;
}
.normal:hover{
    background-color:purple;
}
.normal:hover .pnormal{
    color:#F598DE;
}

.festi:hover{
    
    background-color:darkblue;
}
.festi:hover .pfesti{
    color:#8EEDF5;
}